
<div class="login_wrapper">
	
		<div class="container">
			<div class="row cf">
				<div class="col-12">
					<div class="login_main01">
					
						<h2>Login</h2>
		
						<form  #myForm="ngForm" id="myForm">
						<div class="login_form01">
							<input required type="text" [(ngModel)]="email" name="email" placeholder="Enter Your Email Or Username">
						</div>
						<div class="login_form01">
							<input required  [(ngModel)]="password" name="password" type="password" placeholder="Enter Your Password">
						</div>
						<div class="login_form01">
							<input (click)="onLogin()"  [disabled]="!myForm.form.valid" type="submit" value="Login">
						</div>
						</form>
						
						
				
							<div class="notmember_left">Not a member?? <a routerLink='/sign-up'>Sign Up</a></div>
						
					
						
					</div>
				</div>
			</div>
		</div>
	
	</div>
